.cover__link {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-decoration-line: none;
}

.cover__link::before {
  background-color: #2a2c2f;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover__link:hover::before {
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 650px) {
  .cover__link {
    min-height: 370px;
  }
}

@media screen and (max-width: 500px) {
  .cover__link {
    min-height: 280px;
  }
}

@media screen and (max-width: 370px) {
  .cover__link {
    min-height: 200px;
  }
}
