.place__image {
  max-width: 460px;
  object-fit: contain;
  margin-right: 40px;
}

@media screen and (max-width: 1100px) {
  .place__image {
    max-width: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place__image {
    max-width: 390px;
  }
}

@media screen and (max-width: 795px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 700px) {
  .place__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-width: 320px;
  }
}
