.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 692px) {
  .footer__copyright {
    padding-top: 48px;
  }
}

@media screen and (max-width: 500px) {
  .footer__link {
    padding-bottom: 24px;
  }
}