.place__website {
  max-width: 456px;
  padding-bottom: 48px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 650px) {
  .place__website {
    padding-bottom: 0;
    max-width: 288px;
    margin-bottom: 32px;
    margin-top: 0;
  }
}